<div class="media">
    <div class="media__image">
        <svg class="icon icon--primary">
            <use xlink:href="img/sprite.svg#snap"></use>
        </svg>
    </span>
    </div>
    <div class="media__body">
        <h3 class="media__title">Easy Start & Managed Updates</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi expedita labore placeat itaque, voluptatibus doloremque iste. Quos quam magni, nesciunt dolores voluptates doloremque eius fugiat quae fugit pariatur unde ex.</p>
    </div>
</div>